.view2 {
  margin-top: 180px;
  position: relative;
  right: 0;
  display: block !important;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  margin-bottom: 50px; }

@media screen and (max-width: 535px) {
  .view2 {
    margin-top: 120px; } }

.view2.animate {
  right: 200px; }
