<div class="content-header">
	<span>Feira de Santo André e Mercado Medieval</span>
</div>

<hr>

<div class="content-body">
	<span>
		No passado dia 8 de dezem-bro, feriado nacional, cumpriu-se mais uma edição do Mercado Medie-val de Mesão Frio e mais um dos dias das festividades em honra de Santo André, onde estiveram presen-tes os alunos do 12ºB do Agrupa-mento de Escolas Professor António da Natividade.
		Motivados pela vontade de integrar atividades em contexto real e pela necessidade em angariar fundos para a dinamização de algumas ativi-dades na comunidade escolar, os alunos do 12ºB, Curso Técnico de Turismo, acompanhados pela docente das disciplinas técnicas de turismo, a Professora Lina Guedes, marcaram presença quer na dinami-zação de um stand de ven-das quer no Mercado Medie-val.
		No 12ºBazar, assim apelidado o stand de vendas, foram comercializados legu-mes, frutas e outros bens que os alunos trouxeram das suas hortas. Durante todo o período da feira os alunos puderam pôr em prática alguns dos conteúdos progra-máticos adquiridos em con-texto de sala de aula.
	</span>
</div>

<hr>

<div class="row content-footer">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<img src="assets/news-content/foto1.png">
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<img src="assets/news-content/foto2.png">
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<img src="assets/news-content/foto3.png">
	</div>
</div>


<!-- Agrupamento de Escolas -->
<hr>
<div class="row grp-footer">
	<div class="col-xs-12 text-center">
		<span>Agrupamento de Escolas</span>			
	</div>
	<div class="col-xs-12 text-center">
		<span>Professor António da Natividade</span>			
	</div>
</div>
<hr>