.content-header span{
	font-size: 3.2rem
}

.content-footer{
	margin-bottom: 30px;
}

.content-footer img{
	max-height: 260px;
	max-width: 100%;
}

.content-footer div{
	margin-bottom: 10px;
}

.grp-footer{
	margin-bottom: 20px;
}