<div class="content-header">
	<span>COLOCAR Título</span>
</div>

<hr>

<div class="content-body">
	<span>COLOCAR Texto</span>
</div>

<hr>

<div class="row content-footer">
	<div class="col-xs-12 col-sm-6 col-md-4">
		<!-- COLOCAR AS IMAGENS DA NOTICIA -->
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<!-- COLOCAR AS IMAGENS DA NOTICIA -->
	</div>

	<div class="col-xs-12 col-sm-6 col-md-4">
		<!-- COLOCAR AS IMAGENS DA NOTICIA -->
	</div>
</div>


<!-- Agrupamento de Escolas -->
<hr>
<div class="row grp-footer">
	<div class="col-xs-12 text-center">
		<span>Agrupamento de Escolas</span>			
	</div>
	<div class="col-xs-12 text-center">
		<span>Professor António da Natividade</span>			
	</div>
</div>
<hr>