.navbar-custom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  height: 50px;
  color: white;

  box-shadow: 0 -7px 11px -5px #888888;
  opacity: 0.9;

  > div {
    cursor: pointer;
  }

}